<section class="container" id="main">
  <h2>Messages:</h2>
  <form id="clientsetup">
    <label for="client">Who are you?</label>
    <select>
        <option value="tweedledee">tweedledee</option>
        <option value="tweedledum">tweedledum</option>
    </select>
  </form>    
  <form id="publish">
    <input id="message" type="text" placeholder="what you got to say?">
    <input type="submit" value="send">
  </form>
  <ul id="messages">
  </ul>
</section>
